.carrousel-page {
    .movie-view {
        position: relative;
        cursor: pointer;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            top: 0;
            color: white;
            align-items: flex-end;
            padding-bottom: 5px;
            padding-inline: 5px;
            font-size: 1rem;
            font-weight: var(--bold);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            opacity: 0;
            transition: opacity var(--animation-duration) var(--animation-timing-curve);
        }

        &:hover {
            .title {
                opacity: 1;
            }
        }
    }

    .people-view {
        display: flex;
        gap: 1rem;

        img {
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
        }

        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .contact {
            display: flex;
            gap: 1rem;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }
}