.dropdown-container {
    position: relative;
    width: max-content;

    .toggele-dropdown-button {
        border: none;
        background-color: var(--lightest-grey);
        padding: 10px;
        box-shadow: var(--dark-box-shadow);
        border-radius: var(--small-border-radius);

        &:has(.text) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }


    .dropdown {
        position: absolute;
        padding: 9px 0;
        max-width: 340px;
        min-width: 200px;
        background-color: var(--background-color);
        box-shadow: var(--dark-box-shadow);
        top: 100%;
        left: 0;
        z-index: 10;
        border-radius: var(--small-border-radius);
        transform: scale(0);
        transition: transform var(--animation-duration) var(--animation-timing-curve);
        transform-origin: top left;

        &.open {
            transform: scale(1);
        }

        .menu-item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 14.5px;
            width: 100%;
            padding: 10px 10px;
            text-align: start;
            border: none;
            background-color: transparent;
        }
    }
}