.header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
    padding: 0 0.5rem;
    height: var(--header-height);
    display: flex;
    align-items: center;

    .menu-btn {
        background-color: transparent;
        border: none;

        svg {
            width: 25px;
            height: 25px;
            color: var(--medium-grey);
        }

        &:hover svg {

            color: var(--dark-grey);
        }
    }
}