:root {

    // Colors
    --background-color: #fff;
    --primary-color: #fff;
    --light-grey: #fff;
    --medium-grey: #fff;
    --dark-grey: #fff;
    --header-height: 0px;
}


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;