.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-space-around {
        justify-content: space-around;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.gap-1 {
        gap: 1rem;
    }

    .full {
        flex-grow: 1;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.container-box {
    background-color: var(--lightest-grey);
    border-radius: var(--small-border-radius);
    box-shadow: var(--dark-box-shadow);
    padding: 12px;
}

.button {
    padding: 6px 12px;
    border-radius: var(--small-border-radius);
    border: none;
    text-decoration: none;
    box-shadow: var(--dark-box-shadow);
    display: block;
    color: var(--lightest-grey);

    &:hover,
    &:focus {
        box-shadow: var(--dark-box-shadow);
    }

    &.primary {
        background-color: var(--primary-color);
    }

    &.secondary {
        background-color: var(--light-grey);
    }

    &.error {
        background-color: var(--error);
    }

    &.warning {
        background-color: var(--warning);
    }

    &.success {
        background-color: var(--success);
    }

    &.info {
        background-color: var(--info);
    }
}